<div id="container">
    <nav class="navbar sticky-top navbar-dark bd-navbar">
        <a  routerLink="main">Home</a>
        <div class="w45"></div>
        <div class="heder-font heder-broder">
            Login
        </div>
        <div class="heder-font heder-broder">
            Profile
        </div>
        <div class="heder-font heder-broder">
            Payment
        </div>
        <div class="heder-font heder-broder">
            Payment
        </div>
        <div class="heder-font heder-broder">
            About
        </div>
        <div class="heder-font">
            Contact
        </div>
        <!-- </div> -->
    </nav>
    <div class="contr-bg-color">
        <!-- Hello -->
        <button pButton class="login-btn" type="button" label="Login / Sign Up" (click)="loadHome()"></button>
        <div class="txt-center">
            <label class="rpay-lbl">RpayR</label>
        </div>
        <div class="txt-center">
            <label class="rent-pay-lbl"> Rent Pay Rank</label>
        </div>
        <div class="txt-center">
            <label class="rent-pay-lbl"> One Stop Solution for all your rental need </label>
        </div>
        <div class="txt-center">
            <label class="video-lbl">Please watch the video to how the handdle the this website </label>
        </div>
    </div>
    <div class="contr-bg-color">
        <video width="400" height="250" class="video-frame" controls>
            <source src="https://www.youtube.com/embed/9bZkp7q19f0" type="video/mp4">
        </video>
    </div>
    <div style="background-color: white !important;">
      <div class="row card-row-margin">
          <div class="col-md-4">
            <p-card [style]="{width: '100%'}"> 
                <div style="display: flex;">
                    <div><i class="pi pi-check" style="font-size: 3em"></i>
                    </div>
                    <div class="featur-lbl p-left-8">Feature one</div>
                </div>
                <div class="p-18">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!
                </div>
            </p-card>
          </div>
          <div class="col-md-4">
            <p-card [style]="{width: '100%'}">
                <div style="display: flex;">
                    <div><i class="pi pi-check" style="font-size: 3em"></i>
                    </div>
                    <div class="featur-lbl p-left-8">Feature Two</div>
                </div>
                <div class="p-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!
                </div>
            </p-card>
          </div>
          <div class="col-md-4">
            <p-card [style]="{width: '100%'}">
                <div style="display: flex;">
                    <div><i class="pi pi-check" style="font-size: 3em"></i>
                    </div>
                    <div class="featur-lbl p-left-8">Feature Three</div>
                </div>
                <div class="p-18">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error
                    repudiandae numquam deserunt
                    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
                    neque quas!
                </div>
            </p-card>
          </div>
      </div>
    </div>
    <hr style="background-color: white !important;">
    <div class="txt-center" style="background-color: white !important;">
        <label class="rent-pay-lbl"> Track, Pay, Service your rental house </label>
    </div>
    <div class="txt-center" style="background-color: white !important; padding-top: 3%;">
        <label> Track, Pay, Service your rental house fdsfd dfds dfds fdsgfd fdsfg ds fdsfds rew erew rew rw wrrewr w <br>
            dsfdsfdsg fgfdg gffdgd gfh 8uritretoeiu yterutyertuerteuty itireitier tryty tytu rytr 

        </label>
    </div>
    <div style="background-color: white !important;">
        <hr>
    </div>
  
    <nav class="navbar sticky-bottom navbar-dark bd-navbar" style="background-color: white !important;">
        <div class="w20"></div>
        <div class="heder-font heder-broder">
            Login
        </div>
        <div class="heder-font heder-broder">
            Profile
        </div>
        <div class="heder-font heder-broder">
            Payment
        </div>
        <div class="heder-font heder-broder">
            Payment
        </div>
        <div class="heder-font heder-broder">
            About
        </div>
        <div class="heder-font">
            Contact
        </div>
        <div class="w20"></div>
        <!-- </div> -->
    </nav>
    <div align="center" class="bottom-lbl-style">
        <div>
            yuvajunction Services Pvt LTD
            <div>
                Mumbai, MH,India.
            </div>
            <hr class="bottom-line">
        </div>
    </div>
</div>