<div>
    <nav class="navbar sticky-top navbar-dark bd-navbar">
        <div>
          <label class="rpay-lbl">RpayR</label>
        </div>
      </nav>
    <div align="center" class="m-top-div">
        <div class="title-font-style font-w-400">
            Let's start with <span class="rpay-lbl rpay-lbl-font">RpayR</span> account
         </div>
         <div class="title-font-style font-w-500">
            Enter Mobile Number
        </div>
        <div>
            <div class="div-p-t2">
                <input class="input-style" type="text" placeholder="Mobile #">
            </div>
            <div class="div-p-t2">
                <!-- <input class="input-style" type="text" placeholder="Tenant Aadhar*"> -->
                <label for="" class="font-lg">Send OTP</label>
            </div>
            <div class="div-p-t2">
                <input class="input-style" type="text" placeholder="Password/OTP">
            </div>
            <div class="div-p-t2">
                <button pButton type="button" label="Login" class="ui-button-info btn-login" (click)="login()"></button>
                <div class="m-top-1">
                    <a href="" class="a-font">Forgot Password/Login issue</a>
                </div>
            </div>
            <div>
                <hr>
            </div>
            <div>
                <div class="help-style">
                    Need help?
                </div>
                <div class="helpline-style">
                    <i class="fa fa-phone f-style" aria-hidden="true"></i>  <u>1800 000 000</u>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="background-color: white !important;">
    <hr>
</div>
<div style="background-color: white !important;">
    <i class="fa fa-copyright" aria-hidden="true"></i> yuvajunction Services PVT Ltd
</div>
<nav class="navbar sticky-bottom fixed-bottom navbar-dark bd-navbar" style="background-color: white !important;">
    <div class="w20"></div>
    <div class="heder-font heder-broder">
        Login
    </div>
    <div class="heder-font heder-broder">
        Profile
    </div>
    <div class="heder-font heder-broder">
        Payment
    </div>
    <div class="heder-font heder-broder">
        Payment
    </div>
    <div class="heder-font heder-broder">
        About
    </div>
    <div class="heder-font">
        Contact
    </div>
    <div class="w20"></div>
    <!-- </div> -->
</nav>
