<div id="container">
  <nav class="navbar sticky-top navbar-dark bd-navbar">
    <div>
      <label class="rpay-lbl">RpayR</label>
    </div>
    <div class="navbar-brand f-color-whit"></div>
    <div class="btn-m-l">
      <button pButton type="button" label="Home" (click)="loadHome()"
        class="ui-button-info btn-lgn"></button>
    </div>
    <div>
      <button pButton type="button" class="ui-button-info btn-lgn" label="Profile">
      </button>
    </div>
  </nav>
  <!-- <app-dashboard></app-dashboard> -->
  <app-header></app-header>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
