
<div>
    <hr>
</div>

<nav class="navbar sticky-bottom fixed-bottom navbar-dark bd-navbar" style="background-color: white !important;">
    <div class="w20"></div>
    <div class="heder-font heder-broder">
        Login
    </div>
    <div class="heder-font heder-broder">
        Profile
    </div>
    <div class="heder-font heder-broder">
        Payment
    </div>
    <div class="heder-font heder-broder">
        Payment
    </div>
    <div class="heder-font heder-broder">
        About
    </div>
    <div class="heder-font">
        Contact
    </div>
    <div class="w20"></div>
    <!-- </div> -->
</nav>